*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{ 
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background: #fff;;
     color : black ; 
     font-size:15px ;
     line-height: 1.5;   
}
a{ 
     color : #262626 ; 
     text-decoration: none; 

     
}
ul{ 
    list-style: none ;
}
.container{ 
    width: 90%; 
    max-width: 1100px;
    margin: auto;
}
.main-nav{ 
    width: 100%;
     display: flex ; 
     align-items: center;
     height: 60px ;
     padding : 20px  0 ; 
     justify-content: space-between;
     font-size: 13px;  
}
.main-nav .logo { 
     width: 110px;
}
.main-nav ul { 

     display: flex;
}
.main-nav ul li { 
    padding-bottom: 2px ;
}
.main-nav ul li a:hover { 
     border-bottom: 2px solid #262626 ;
}
.main-nav ul li { 
     padding: 0 10px ;
}
.main-nav ul.main-menu { 
    padding: 20px ;
    flex: 1;
}
.btn{ 
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold ;
    padding:10px 20px ; 
    background : #262626 ;  
    color: white ; 
    font-size: 15px; 

}
.menu-btn {
    cursor: pointer;
    position: absolute;
    top:20px; 
    right:30px ; 
    z-index: 2;
    display: none; 

}
.btn:hover{ 
     opacity : 0.9; 
}
/* showcase  */
.showcase{ 
    width: 100%;
    height: 400px ;
    background: url('./img/showcase.jpg') no-repeat center center/cover ;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px ;
    margin-bottom: 20px ;
}
.showcase h2 ,.showcase p{ 
     margin-bottom: 10px ;

}
.showcase .btn { 
    margin-top: 20px ;
}



/* Home Cards  */ 
.home-cards { 
    display: grid ; 
    grid-template-columns: repeat(4 ,1fr);
   grid-gap: 20px ;
   margin-bottom: 40px;
}
.home-cards img { 
    width: 100%;
}
.home-cards h3{ 
     margin-bottom: 20px ;
}
.home-cards a { 
    display: inline-block ;
    padding-top :10px ; 
    color : #0067b8 ;
    text-transform: uppercase;
    font-weight: bold; 

}
.home-cards a:hover i {
    margin-left: 10px ;
}
/* xbox  */
.xbox{ 
    margin-bottom: 40px;
     background: url('./img/xbox.png') no-repeat center center/cover ;
     height: 400px ;
     
}
.xbox .content{ 
    width: 40%;
     padding: 70px 0 0 80px  ;
}
.xbox p { 
    margin: 10px 0 20px ;
}
.carbon{ 
    width: 100%;
    background :url('./img/carbon.jpg') no-repeat center center/cover ; 
}
.carbon .content{ 
    
     height: 400px;
     padding: 90px 0 0 70px ; 
     width: 45%;
}
.dark { 
    color:whitesmoke  ; 
}
.dark .btn { 
    background: whitesmoke; 
    color: #262626;
}
.carbon p { 
  
    margin: 10px 0 20px ;
}
.follow { 
     display: flex;
     align-items: center ;
    justify-content: flex-start;
    margin:30px 0 30px ; 
}
.follow *{ 
    margin-right: 10px ;
}





/* links */
.links{ 
    background : #f2f2f2 ; 
    color: #616161 ; 
     
}
.links-inner { 
    display: grid ;
    max-width: 1100px;
    margin : 0  auto ; 
    padding : 0 20px ; 
    grid-template-columns: repeat(6, 1fr ); 
     grid-gap: 1px;
     align-items: flex-start ;
     justify-content: center;

}
.links li { 
    line-height : 2.8 ; 
     
}
.footer { 
    
    background: #f2f2f2;
    color:#616161 ;
    font-size: 12px;
    padding :20px 0 ; 
}
.footer div{ 
    
   margin-bottom: 20px;
   display: flex;
   align-items: center;
}

.footer-inner { 
    max-width: 1100px ;
    margin: 0  auto; 
    padding : 0 20px 0 20px ; 
    display: flex ;
    align-items: center;
    justify-content: space-between;
}
.footer div i { 
    
    margin-right: 10px;
}
.footer ul { 
    display: flex;
    flex-wrap: wrap;
}
.footer li{ 
    margin-right: 30px;
    margin-bottom: 20px;

}














/* media queries */
@media (max-width:700px) {
    .menu-btn {
         display: block;
    }
    .menu-btn:hover{ 
         opacity: 0.7;
    }
    .main-nav ul.right-menu{ 
        margin-right: 50px;
    }
    .main-nav ul.main-menu { 
        display: block;
        position: absolute;
        top:0; 
        left:0; 
        background: #f2f2f2;
        width: 50%;
        height: 100%;
        transform: translateX(-500px);
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px ;
         

    }
    .main-nav ul.main-menu.show{ 
        transition:  linear 0.257645s ; 
         transform: translateX(-20px);
    }
    .main-nav ul.main-menu li { 
      padding: 10px;
      border-bottom: #ccc solid 1px ;
      font-size: 14px;  
    }
    .main-nav ul.main-menu li:last-child{
        border-bottom: none;
    }
    .home-cards{ 
         grid-template-columns: repeat(2, 1fr );
    }
    .xbox .content {
        padding-left: 18px;
         width: 90%;
    }
    .xbox .content p{ 
        display: none;
    }
    .xbox .content h2{ 
        margin-bottom: 20px;
    }
    .carbon .content { 
        width: 85%;
    }
    .links .links-inner {
         grid-template-columns: repeat(2 ,1fr); 
    }
}
@media (max-width:500px) {
    .home-cards{ 
        grid-template-columns: 1fr;
   }
   .links .links-inner {
    grid-template-columns: 1fr; 
}
.links .links-inner ul{
   margin-bottom: 20px;
}
} 




















